title='Frontend Examen'
link(rel='stylesheet', href='/stylesheets/style.css')
// En produccion deben cargarse los recursos estaticos  via cdn
link(rel="preload", href="/javascripts/vendor/preact.module.js", as="script" )
link(rel="preload", href="/javascripts/dist/main.js" as="script")