title='Frontend Examen'
script.
    (function(){
       
       function ajax (url, callback, error) {
           var req = new XMLHttpRequest();
           var query = '';
           
           req.open('GET', url, true);
           req.onreadystatechange = function (aEvt) {
                if (req.readyState == 4) {
                    if(req.status == 200){
                       console.log(req.responseText);

                       callback(req.responseText)     
                    }
                    else{
                       error("Error loading page\n");
                    }
                
                }
            
            }
            req.send(null); 
       }


       ajax('http://localhost:3000/api/items?q=cars', function(data){

           console.log(data);

       })



    })();
    console.log( 'hola');


|
link(rel='stylesheet', href='/stylesheets/style.css')
// En produccion deben cargarse los recursos estaticos  via cdn
link(rel="preload", href="/javascripts/vendor/preact.module.js", as="script" )
link(rel="preload", href="/javascripts/dist/main.js" as="script")