@import '_vars';
@import '_reset';
@import '_grid';

@import 'components/searchbox';

body {
  background: $background-color;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  // Se agrega scroll vertical para cuando pasemos a una pagina con scroll no se produzca un cambio visual desagradable
  // con los elementos
  overflow-y: scroll; 
}
a {
  text-decoration: none;
}
// BEM Notation: http://getbem.com/

.header{
  padding: 8px 0;
  background: $main-color;
}

.logo {
  background: url('/images/Logo_ML.png') top left no-repeat;
  width: 54px;
  height: 36px;
  text-indent: -2000px;
  display: inline-block;
  background-size: 49px 33px;
}
