@import '_vars';

@import './components/breadcrumb.scss';

.detail {
  display: flex;
}


  .detail__image {
    order: 1;
    width: 600px;
  }

   // Detail Main Content
  .detail__main-content {
    order: 2;
    padding-left: 16px;
    max-width: 298px;
  }

    .detail__seller-info {
      font-size: 14px;
      margin: 32px 0 16px;
      color: $color2;
      display: block;
    }

    .detail__title {
      color: $color1;
      font-size: 24px;
      line-height: 28px;
      color: $color1;
    }

    .detail__price {
      color: $color1;
      font-size: 46px;
      margin: 32px 0;
      color: $color1;
      display: block;
    }

    .detail__call-to-action{
      background: $call-to-action;
      color: $color4;
      width: 220px;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      height: 38px;
      line-height: 38px;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }


  // Detail Description
  .detail__description {
    padding:90px 0 0 32px;
  }

    .detail__description-title {
      color: $color1;
      font-size: 28px;
      margin-bottom: 32px;
      display: block;
    }

    .detail__description-text {
      font-size: 16px;
      line-height: 20px;
      color: $color3;

    }

  /* 
  Mobile
  .detail__image {
    order: 1;
    width: 100%;
  }

  */