@import '_vars';

@import 'components/breadcrumb.scss';
@import 'components/paginator.scss';

/* Result Items*/
.result-item {
  display: flex;
  padding: 16px 0 16px 16px;

}
  .result-item__main-content{
    order: 2;
    display: flex;
    flex-direction: column;
    width: 290px;
  }

    .result-item__price {
      order: 1;
      font-size: 24px;
      padding-top: 16px;
      color: $color1;
    }

    .result-item__title {
      order: 2;
      font-size: 18px;
      line-height: 22px;
    }
      .result-item__title-link {
        color: $color1;
        padding: 32px 0;
        display: block;
      }

  .result-item__image-link{
    order: 1;
    width: 180px;
    height: 180px;
    display: block;
    margin-right: 16px;
  } 
    .result-item__image {
      width: 180px;
      height: 180px;
      
      border-radius: 4px;
      
    }

  .result-item__location {
    order: 3;
    font-size: 12px;
    padding-top: 24px;
    color: $color3;
  }


  // Ajustes Mobile
  @media only screen and (max-width: 415px) {

    #app .row {
      border-top: 1px solid $color3;

      &:nth-child(1),
      &:nth-child(2),
      &:last-child { // no recomendable
        border-top: none;
      }
    }
    
    .result-item {
      padding-bottom: 0;
    }
    
    body .row .result-item__location {
      margin-top: -230px;
    
    }

    .result-item__title-link {
        padding: 16px 0;
    }
  }
