include mixins/all.pug
header.header
  div.container
    div.row
      span.col-1.offset-1
        +logo
      +searchbox

main.container
  div.row
    div.col-10.offset-1
      div.detail
        div.detail__main-content
          h1 #{item.title}
          span.detail__price #{item.price.amount_formated}
        
        img.detail__image(src=item.picture)
      div.detail__description
        p #{item.description}    
