doctype html
html
  head
    title='Frontend Examen'
    link(rel='stylesheet', href='/stylesheets/style.css')
    // En produccion deben cargarse los recursos estaticos  via cdn
    link(rel="preload", href="/javascripts/vendor/react.production.min.js", as="script", crossorigin )
    link(rel="preload", href="/javascripts/vendor/react-dom.production.min.js", as="script", crossorigin)
    link(rel="preload", href="/javascripts/main.js" as="script")
   
body
  header
    span
      +logo
  |
  +searchbox

| Hola
  h1 Titulo
