include mixins/all.pug
header.header
    div.container
      div.row
        span.col-3.right
          +logo
        +searchbox

main.container
      div.row
        div.col-2
        div.col-10  
            div
                h1 #{item.title}
                
                img(src=item.picture)
            div
                p #{item.description}    



