include mixins/all.pug
doctype html
html(lang='es-AR')
  head
    meta(charset='utf-8')
    title='Mercado Libre'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Mercadolibre descripcion, keyword1 keyword2 keyword3')
    if build_static
      link(rel='stylesheet', href='/stylesheets/home.css')
    
    link(rel="prefetch", href="/stylesheets/results.css" as="style")
    link(rel="prefetch", href="/stylesheets/base.css" as="style")
    link(rel="prefetch", href="/javascripts/dist/main.js" as="script")

    if !build_static
      style
        include ../public/stylesheets/base.css
        include ../public/stylesheets/home.css
      link(rel="prefetch", href="/stylesheets/home.css" as="style")
body
  header.header
    div.container
      div.row
        h1.col-1.offset-1
          +logo
        +searchbox
