include mixins/all.pug
doctype html
html
  head
    title='Frontend Examen'
    link(rel='stylesheet', href='/stylesheets/home.css')
    // En produccion deben cargarse los recursos estaticos  via cdn
    link(rel="prefetch", href="/stylesheets/results.css" as="style")
    link(rel="prefetch", href="/javascripts/dist/main.js" as="script")
    style
      include ../public/stylesheets/base.css
   
body
  header
    h1 
      +logo
    +searchbox
