include mixins/all.pug
doctype html
html(lang='es-AR')
  head
    meta(charset='utf-8')
    title='Mercadolibre | Resultados'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Mercadolibre descripcion, keyword1 keyword2 keyword3')
    link(rel='stylesheet', href='/stylesheets/results.css')
    script
      include ../public/javascripts/inline/main-result.js
    |
    link(rel='preconnect' href='http://mla-s1-p.mlstatic.com')
    link(rel='preload', href='/javascripts/dist/main.js' as='script')
    link(rel='prefetch', href='/stylesheets/detail.css' as='style')
    style
      include ../public/stylesheets/base.css
   
body
  header.header
    div.container
      div.row
        h1.col-1.offset-1
          +logo
        +searchbox
  
  div.container
      div#app

script(src="/javascripts/dist/main.js",type="module")
