doctype html
html
  head
    title='Frontend Examen'
    script.
      var ML = {
          ajaxReady : false
      };

      (function(window){
        
        function ajax (url, callback, error) {
            var req = new XMLHttpRequest();
            var query = '';
            
            req.open('GET', url, true);
            req.onreadystatechange = function (aEvt) {
                  if (req.readyState == 4) {
                      if(req.status == 200){
                        callback(req.responseText)     
                      }
                      else{
                        error("Error loading page\n");
                      }
                  }
              }
              req.send(null); 
        }

        ajax('http://localhost:3000/api/items?q=cars', function(data){
          ML.ajaxReady = true;
          data = JSON.parse(data);
          window.__STATE__ = data;
          var event = new CustomEvent("ajaxReady", data);
          document.dispatchEvent(event);
        })

      })(window);
    
    |
    link(rel="preload", href="/javascripts/dist/main.js" as="script")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // En produccion deben cargarse los recursos estaticos  via cdn
    //link(rel="preload", href="/javascripts/vendor/react.production.min.js", as="script", crossorigin )
    //link(rel="preload", href="/javascripts/vendor/react-dom.production.min.js", as="script", crossorigin)
    
   
body
  header
    h1 
      img(alt='Mercadolibre' )
  |    
  form(action="", method="get")
    input(type="text")
    input(type="submit", value="Buscar")

div#app  


script(src="/javascripts/dist/main.js",type="module")
  
// script(crossorigin, src="/javascripts/vendor/react.production.min.js")
// script(crossorigin, src="/javascripts/vendor/react-dom.production.min.js")
// script(crossorigin, src="/javascripts/main.js")

