header
  h1 
    img(alt='Mercadolibre' )
|    
form(action="", method="get")
  input(type="text")
  input(type="submit", value="Buscar")

div#app

script(src="/javascripts/dist/main.js",type="module")
