include mixins/all.pug
doctype html
html
  head
    title='Frontend Examen'
    script
      include ../public/javascripts/inline/main-result.js
    |
    link(rel='preconnect' href='http://mla-s1-p.mlstatic.com')
    link(rel='stylesheet', href='/stylesheets/results.css')
    link(rel="preload", href="/javascripts/dist/main.js" as="script")
    link(rel="prefetch", href="/stylesheets/detail.css" as="style")
    style
      include ../public/stylesheets/base.css
   
body
  header.header
    div.container
      div.row
        h1.col-1.offset-1
          +logo
        +searchbox
  
  div.container
    div.row
      div#app.col-10.offset-1

script(src="/javascripts/dist/main.js",type="module")
