doctype html
html
  head
    title='Frontend Examen'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(cossorigin src="/javascripts/vendor/react-is.development.js")
body
    block content
