.result-item {
  background: #fff; }

.result-item__image {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  box-sizing: border-box; }

.paginator {
  display: flex;
  flex-direction: row; }

.paginator__page {
  background: #ccc;
  color: #3483fa;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer; }

