mixin searchbox
  div#searchbox
    form.col-9.searchbox(action='/items', method='get')
      label.searchbox__label(for='q') buscar
      input.searchbox__input(type='text', name='q', id='q', placeholder='Nunca dejes de buscar', autocomplete='off')
      input.searchbox__submit(type='submit', value='Buscar')